.nav-items{
    display: flex;
    margin-left: 24vw;
    margin-top: -4vw;
    gap: 5vw;
}
.nav-item{
    
    font-family: fredoka one;
}
.item{
    position: absolute;
    right: 0%;
    top: 2%;
}
.nav-item.active-item{
    border-bottom: 3px solid black;
}
h3{
    font-size: x-large;
    font-weight: bolder;

}
 .left-section h1{
    font-size: calc(60px + (300 - 60) * ((25vw - 300px) / (1600 - 300)));
    font-family: fredoka one;

}
.sub-headlines{
font-size: x-large;
position: absolute;
top: 38%;
left: 4%;
}
.sub-headline img {
    background: #e64723;
    border-radius: 12px;
    padding: 2px;
}
.text{
    position: absolute;
    top: 68%;
    left: 2%;
    width: 50%;
}
.action-btns{
    position: absolute;
    top: 80%;
    left: 6%;
}
.action-btn{
    display: inline;
    background: #e64723;
    color: white;
    padding: 4px;
    width: 10vw;
    height: 6vh;
    border: none;
    border-radius: 19px;
}
.headphone{
    position: absolute;
    left: 58%;
    top: 9%
}
.discount{
    position: absolute;
    top:62% ;
    left: 52%;
    z-index: 1;
}
.discount-content h1 {
    position: absolute;
    top: 66%;
    left: 55%;
    z-index: 2;
    color: white;
    font-family: fredoka one;
}
.discount-content h4 {
    position: absolute;
    top: 72%;
    left: 55%;
    z-index: 3;
    color: white;
    font-family: fredoka one;
}
.Action-btn{
    position: absolute;
    top: 91%;
    left: 73%;
    padding: 8px;
    border: none;
    border-radius: 13px;
    background: #e64723;
    width: 8vw;
    color: white;
}
.dots{
    position: absolute;
 top: 86%;
 left:73%;
 display: inline-flex;
}
  .dot.yellow-dot{
    height: 20px;
    width: 20px;
    background-color: yellow;
    border-radius: 50%;
    margin-right: 22px;
  } 
  .dot.tomato-dot{
    height: 20px;
    width: 20px;
    background-color: tomato;
    border-radius: 50%;
    margin-right: 20px;
  }
    .dot.black-dot{
    height: 20px;
    width: 20px;
    background-color: black;
    border-radius: 50%;
  } 
  @media only screen and  (max-width:920px) {
    .nav-items{
        display: flex;
        gap: 2vw;
        margin-top: -3vw;
    }
    
  }